body {
    background-color: white;
}
h1,h2,h3{
    color: green;
    margin: 16px;8px;
}
.title{
    font-size: 50px;
    letter-spacing: 50px;
    background: hotpink;
}
h1.title{
    color: antiquewhite;
}
#second-title{
    font-size: 100px;
}
[country]{
    font-size: 100px;
    letter-spacing: 20px;
}
td{
    border: 1px solid #ccc;
    padding: 50px;
    text-align: center;
    color:hotpink;
}
input {
    display: block;
}